* {
    box-sizing: border-box;
}

body {
    background: #D5A235;
}

#logSignButt button {
    background: white;
    border: white;
    outline: none;
    cursor: pointer;
    position: fixed;
    margin-top: -0.25em;
    right: 0;
    width: 9%;
    border-radius: 0 0 0 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 2vh;
}

#both {
    display: block;
    margin: 0em auto;
    width: 90%;
    text-align: center;
    margin-bottom: 20vh;
}

#leftBox,
#rightBox {
    display: inline-block;
    margin-top: 4em;
    width: 45%;
    text-align: center;
}

#leftBox {
    background-color: white;
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
}

#leftBox h3 {
    width: 25%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#leftBox input[type=text],
#leftBox input[type=email],
#leftBox input[type=number],
#leftBox textarea {
    border: 1px solid black;
    margin-top: 1em;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Lucida Sans';
    font-size: 1.2vw;
    opacity: 1;
    outline: none;
}

#leftBox input[type=number]::-webkit-inner-spin-button, 
#leftBox input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}


#leftBox input[type=text]:focus,
#leftBox input[type=email]:focus,
#leftBox input[type=number]:focus {
    border-radius: 10%;
}

#leftBox input[type=submit] {
    font-size: 2vh;
    margin-top: 2em;
    float: left;
    border-radius: 4px;
    outline: none;
    background: rgb(182, 139, 48);
    border-color: #D5A235;
    color: white;
}

#rightBox {
    background-color: whitesmoke;
    width: 20%;
    margin-left: -3.5px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#rightBox .row h3 {
    font-size: 2vh;
}

#rightBox .row h2 {
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 3vh;
}

p {
    width: 100%;
    font-family: 'Lucida Sans';
    font-size: 1vw;
}

@media(max-width:920px) {
    #navigation {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #navigation form {
        width: 45%;
        display: inline-block;
        margin-left: 2.2%;
        margin-right: 2%;
        padding: 0em;
        margin: .2em;
    }

    #navigation button {
        height: 5em;
        padding: 0em;
    }
    
    #leftBox,
    #rightBox {
    display: block;
    margin-top: 4em;
    width: 90%;
    text-align: center;
    }

    #leftBox input[type=text],
    #leftBox input[type=email],
    #leftBox input[type=number],
    #leftBox textarea {
        border: 1px solid black;
        margin-top: 1em;
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        resize: vertical;
        font-family: 'Lucida Sans';
        font-size: 10px;
        opacity: 1;
        outline: none;
    }

    #leftBox h3 {
        width: 100%;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    p {
        width: 100%;
        font-family: 'Lucida Sans';
        font-size: 10px;
    }

}