.mainInf{
    
    min-height:40vw;
    width: 75%;
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
    background:   #ececea;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);

}
body {
    background: #D5A235;
}
#font{
    height: 1.5em;
    box-shadow: 1px 1px rgba(0,0,0,1);
    background-color: #ffffff49;
    width: 100%;
    text-align:center;
    margin-bottom: 2em;
    font-family: 'Abril Fatface', cursive;
    font-size: 55;
    
}
.categ1{
    display: inline-block;
    margin-top: auto;
    margin-left:auto;
    height: 4em;
    text-align: center;
    margin-bottom: 6em;
    

}
.categ2{
    display: inline-block;
    margin-top: auto;
    margin-left:auto;
    height: 4em;
    text-align: center;
    margin-bottom: 3em;
    

}
.select{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    height: 2em;
    width: 10em;
    margin-left:7em;
    margin-right: 7em;
    margin-bottom: 3em;
    
}
#produs {
    text-align: center;
}
.input{
    
    
    text-align:center
   
}
.imp{
    
    margin-top: 3em;
    margin-left:auto;
    text-align: center;
   
    
    
}
.txt{
    margin-bottom: 1em;
    height: 2em;
    width: 50em;
    margin-left:2em;
}