body {
    background: #D5A235;
}

#body {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    text-align: center;
    align-content: center;
}

.price input[type=number]::-webkit-inner-spin-button, 
.price input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

#items {
    position: relative;
    display: inline-block;
    width: 90%;
    min-width:300px;
    min-height: 90vh;
    background-color: rgba(245, 245, 245, .8);
}

#items h6 {
    font-size:1.2em;
    margin:0em;
    padding: 0em;
    position: absolute;
    right:8.5em;
    top:.55em;
    font-family: 'Inconsolata', monospace;
}
#items select {
    top: .6em;
    position: absolute;
    right: 2em;
    width: 10em;
    height: 3vh;
    font-size: .8em;
    font-family: 'Mina', sans-serif;
    border-width: thin;
}
#items > ul {
    list-style-type: none;
    margin: .2em 0em .2em 0em;
    padding: 2.5em 0em .2em 0em;
}

#items > ul > li {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 15em;
    height: 24em;
    margin: .2em .2em .2em .2em;
    background-color: white;
    border-color: rgba(90, 90, 90, .5);
    border-style: solid;
    border-width: thin;
    border-radius: 1%;
    padding-left:.4em;
    padding-right: .4em;
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
    transition-timing-function: ease;
}

#items > ul > li img {
    height: 10em;
    max-width: 14em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-color: rgba(90, 90, 90, .85);
    border-bottom-width: thin;
}

#items > ul > li h1 {
    font-size: 1.2em;
    margin: 0em;
    padding: 0em;
    font-family: 'Farsan', cursive;
}

#items > ul > li h2 {
    position: absolute;
    font-size: .9em;
    margin-bottom: 0em;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 6.2em;
}

#items > ul > li h3 {
    position: absolute;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: .8em;
}

h3 sup {
    font-size:.5em;
}

#items > ul > li input[type=submit] {
    position: absolute;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px black;
    background: #2B2B2B;
    border-width: 1px;
    width: 10em;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: .1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: .7em;
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
    transition-timing-function: ease;
    cursor: pointer;
}

#filterSubmit {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px black;
    background: #2B2B2B;
    border-width: 1px;
    width: 10em;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: .1em;
    margin-left: auto;
    margin-right: auto;
    bottom: .7em;
    cursor: pointer;
}

#items > ul > li input[type=submit]:hover {
    width:12em;
}

#pageSelect {
    padding-top: 2em;
    padding-bottom: 1em;
}

#pageSelect a {
    margin:0em .2em;
    padding:.1em .4em .2em .4em;
    border-style: solid;
    border-width:thin;
    border-color: #A5A5AF;
    font-size: 1em;
    border-radius: .2em;
    color: #015249;
}

#pageSelect a:link {
    text-decoration: none;
}

#pageSelect a.active {
    background: #A5A5AF;
    color:white;
}

#pageSelect p {
    display: inline-block;
    margin: .5em 0em;
    font-size: 1.2em;
    color: #015249;
}
.description {
    position: absolute;
    list-style-type: disc;
    font-size: .7em;
    left: 4em;
    bottom: 7.5em;
    text-align: left;
}

#filters {
    display: block;
    width: 80%;
    min-width: 300px;
    border-color: rgba(90, 90, 90, 1);
    border-width: 0em .2em 0em .2em;
    border-style: solid;
    margin:0em auto;
    text-align: left;
}

#filters h6{
    font-family: 'Fugaz One', cursive;
    font-size: 2.5em;
    border-bottom-style: solid;
    border-bottom-color: rgba(90, 90, 90, .85);
    border-bottom-width: thin;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: .2em;
    background-color: rgba(245, 245, 245, .8);
    text-align: center;
}

#filters h5 {
    font-family: 'Fugaz One', cursive;
    font-size:2.2em;
    margin: 0em;
    padding: .2em;
    text-align: center;
}

#filters div {
    position: relative;
    background-color: rgba(245, 245, 245, .8);
    margin-top: .1em;
    padding-bottom: 1em;
    padding-top: .2em;
    margin-bottom: .1em;
    z-index: 0;
}

#otherIngredients, #otherPackage, #otherMeans {
    height: 3em;
    width: 80%;
    background-color: #2B2B2B;
    margin: .2em;
    color: white;
    padding: .25em .1em;
    border: 0em;
    border-radius: .5em;
}

#otherIngredients::placeholder, #otherPackage::placeholder, #otherMeans::placeholder {
    color:white;
}

.price input {
    background-color: #2B2B2B;
    margin: .2em;
    color: white;
    padding: .25em .1em;
    border: 0em;
    border-radius: .5em;
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
    transition-timing-function: ease;
}

.price input:focus {
    padding: .3em 1.1em .3em 1.1em;
    margin: .15em -.1em;
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
    display: inline-block;
    margin-right: .8em;
    margin-left: 2em;
    margin-bottom: .5em;
    padding-left: 2em;
    padding-right: .8em;
    line-height: 2.3em;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
}

label:hover {
    padding-left: 2.3em;
}

label::before {
    content: " ";
    position: absolute;
    top: .4em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid #2B2B2B;
    border-radius: 5px;
    color:white;
    z-index: -1;
}

input[type="checkbox"]:checked + label {
    padding-left: 1em;
    color: #fff;
    
}

input[type="checkbox"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: #A5A5AF;
}

label, label::before {
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
}

.price {
    display: block;
    text-align: center;
}

.price input {
    display: inline-block;
    max-width: 4em;
    text-align: center;
    margin-left: 0em;
    margin-right: 0em;
}

.price input::placeholder {
    color:rgb(187, 187, 187);
    opacity: 1;
}

.price p {
    margin: 0em;
    display: inline-block;
}

@media (min-width:900px) {

    #filters {
        vertical-align: top;
        display: inline-block;
        width: 15%;
        min-width: 300px;
        border-width: 0em .2em 0em .2em;
        border-style: solid;
        margin-left: 0em;
        text-align: left;
    }

    #filters h6{
        font-family: 'Fugaz One', cursive;
        font-size: 2.5em;
        border-bottom-style: solid;
        border-bottom-width: thin;
        margin-top: 0em;
        margin-bottom: 0em;
        padding: .2em;
        text-align: center;
    }
    #filters input {
        margin-left: 2em;
        margin-right: 2em;
    }

    #filters h5 {
        font-family: 'Fugaz One', cursive;
        font-size:2.2em;
        margin: 0em;
        padding: .2em;
        text-align: center;
    }

    #filters div {
        position: relative;
        margin-top: .1em;
        padding-bottom: 1em;
        padding-top: .2em;
        margin-bottom: .1em;
        z-index: 0;
    }

    .price input[type=number] {
        margin: .2em;
        color: white;
        padding: .25em 0em;
        border: 0em;
        border-radius: .5em;
        -webkit-transition: .35s all ease;
        transition: .35s all ease;
        transition-timing-function: ease;
    }

    input[type=number]:focus {
        padding: .3em 1.1em .3em 1.1em;
        margin: .15em -.1em;
    }

    input[type="checkbox"] {
        display: none;
    }

    label {
        position: relative;
        display: inline-block;
        margin-bottom: .5em;
        padding-left: 2em;
        padding-right: .8em;
        line-height: 2.3em;
        cursor: pointer;
        font-family: 'Cabin', sans-serif;
        font-size: 1em;
    }

    label:hover {
        padding-left: 2.3em;
    }

    label::before {
        content: " ";
        display: block;
        width: 1em;
        height: 1em;
        border: 2px solid #2B2B2B;
        border-radius: 5px;
        color:white;
        z-index: -1;
    }

    input[type="checkbox"]:checked + label {
        padding-left: 1em;
        color: #fff;
        
    }

    input[type="checkbox"]:checked + label::before {
        width: 100%;
        height: 100%;
        background: #2B2B2B;
    }

    label, label::before {
        -webkit-transition: .35s all ease;
        transition: .35s all ease;
    }

    .price {
        display: block;
        text-align: center;
    }

    .price input {
        display: inline-block;
        max-width: 4em;
        text-align: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .price input::placeholder {
        color:white;
        opacity: 1;
    }

    .price p {
        margin: 0em;
        display: inline-block;
    }

    #items {
        position: relative;
        display: inline-block;
        width: 60%;
        min-width:300px;
        min-height: 90vh;
        background-color: rgba(245, 245, 245, .8);
    }
}