#top {
    padding-bottom:3em;
    z-index: 100;
}

#topMenu {
    width: 100vw;
    position: fixed;
    margin-left: -0.5em;
    height: 3.2em;
    margin-top: -0.5em;
    background: green;
    background: linear-gradient(to bottom, green,rgba(0, 255, 0, 0));
    z-index: 100;

}

#top a:link {
    text-decoration: none;
    z-index: 100;
}

#siteName {
    position: fixed;
    margin-top: -42px;
    left:5%;
    z-index: 100;
}

#logo {
    height: 2.3em;
    max-width: 2em;
    position: absolute;
    margin-top: 2.85em;
    z-index: 100;
}

#search input {
    position:fixed;
    display:block;
    width:1.4em;
    height:2.5em;
    margin: 0em;
    padding: 0em .2em;
    border: none;
    left: 20%;
    top: 0.25em;
    z-index: 100;
    font-size: 1em;
    border-radius: .2em;
    background: rgba(255, 255, 255, 0.75);
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
}

#search input:focus {
    width: 55%;
    background:white;
    padding: 0em 1.5em;
    margin-left: -0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-color:black;
    z-index: 101;
}

#navMenu {
    right: 1%;
    position: fixed;
    z-index: 100;
    margin-left:10%;
}

#navMenu a.active button {
    border-color: rgb(115, 255, 0);
}

#navMenu button:hover {
    border-color: yellow;
    background: rgba(0, 128, 0, 0.712);
    padding-bottom:1.5em;
}

#navMenu button {
    width: 5em;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px black;
    background: linear-gradient(to bottom, green,rgba(0, 255, 0, 0));
    border-width: 0px;
    border-style: solid;
    border-top-width: 4px;
    border-color: limegreen;
    padding: 1em .1em;
    margin-top: -0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    z-index: 100;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
}


@media (min-width:900px) {

    #siteNameText {
        font-family: 'Permanent Marker', cursive;
        font-size: 2.2em;
        color: white;
        text-shadow: 3px 3px black;
        padding-left: 1.3em;
        z-index: 100;
    }

    #search input {
        position:fixed;
        display:block;
        width:25%;
        height:2.5em;
        margin: 0em;
        padding: 0em 1em;
        border: none;
        left: 25%;
        top: 0.25em;
        z-index: 100;
        font-size: 1em;
        background: rgba(255, 255, 255, 0.75);
        -webkit-transition: .35s all ease;
        transition: .35s all ease;
    }

    #search input:focus {
        width: 32%;
        left: 22%;
    }
    
    #menubutton {
        display: none;
    }

    #navMenu {
        right: 5%;
        margin-left: 0em;
    }

    #navMenu a.active button {
        border-color: rgb(115, 255, 0);
    }

    #navMenu button:hover {
        border-color: yellow;
        background: rgba(0, 128, 0, 0.712);
        padding-bottom:1.5em;
    }

    #navMenu button {
        width: auto;
        color: white;
        font-family: 'Raleway', sans-serif;
        text-shadow: 1px 1px black;
        background: linear-gradient(to bottom, green,rgba(0, 255, 0, 0));
        border-width: 0px;
        border-style: solid;
        border-top-width: 4px;
        border-color: limegreen;
        padding: 1em 1.5em;
        margin-top: -0.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        z-index: 100;
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
    }
}