#top {
    padding-bottom:3em;
    z-index: 100;
}

#topMenu {
    width: 100%;
    position: fixed;
    margin-left: -0.5em;
    height: 3.2em;
    margin-top: -0.5em;
    background: #24292e;
    z-index: 100;

}

#top a:link {
    text-decoration: none;
    z-index: 100;
}

#siteName {
    position: fixed;
    margin-top: -42px;
    left:5%;
    z-index: 100;
}

#logo {
    height: 2.3em;
    max-width: 2em;
    position: absolute;
    margin-top: 3em;
    z-index: 100;
    transform: rotate(-10deg);
}

#search input {
    position:fixed;
    display:block;
    width:1.4em;
    height:2.5em;
    margin: 0em;
    padding: 0em .2em;
    border: none;
    left: 20%;
    top: 0.25em;
    z-index: 100;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    border-radius: .2em;
    background: rgba(255, 255, 255, 0);
    color:white;
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
}

#search input:focus {
    width: 55%;
    color:black;
    background:white;
    padding: 0em 1.5em;
    margin-left: -0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-color:whitesmoke;
    z-index: 101;
}

#navMenu {
    right: 1%;
    position: fixed;
    z-index: 100;
    margin-left:10%;
}

#navMenu a.active button {
    border-color: #DADADA;
}

#navMenu button:hover {
    border-color: rgb(255, 255, 255);
    color:white;
}

#navMenu button {
    width: 5em;
    color: rgb(199, 199, 199);
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px black;
    background: rgba(0,0,0,0);
    border-width: 0px;
    border-style: solid;
    border-top-width: 4px;
    padding: 1em .1em;
    margin-top: -0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    z-index: 100;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    cursor: pointer;
}

#logSignButt button {
    background: white;
    border: white;
    outline: none;
    cursor: pointer;
    position: fixed;
    margin-top: -0.25em;
    right: 0;
    width: 9%;
    border-radius: 0 0 0 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 2vh;
}


@media (min-width:900px) {

    #siteNameText {
        font-family: 'Permanent Marker', cursive;
        font-size: 2.2em;
        color: white;
        text-shadow: 3px 3px black;
        padding-left: 1.3em;
        z-index: 100;
    }

    #search input {
        position:fixed;
        display:block;
        color:white;
        width:25%;
        height:2.5em;
        margin: 0em;
        padding: 0em 1em;
        border: none;
        left: 25%;
        top: 0.25em;
        z-index: 100;
        font-size: 1em;
        -webkit-transition: .35s all ease;
        transition: .35s all ease;
    }

    #search input:focus {
        width: 32%;
        left: 22%;
    }

    #search input::placeholder {
        color:white;
    }
    
    #menubutton {
        display: none;
    }

    #navMenu {
        right: 5%;
        margin-left: 0em;
    }

    #navMenu button {
        width: auto;
        padding: 1em 1.5em;
        margin-top: -0.5em;
        display: inline-block;
        font-size: 16px;
    }
}

#footer {
    position: relative;
    bottom: -1em;
    margin-top: 5vh;
    display: block;
    margin-left: -0.5em;
    margin-bottom: -1em;
    width: 100.85%;
    background: rgba(1, 1, 1, .5);
    color: whitesmoke;
    text-align: center;
}

#footer #contact,
#footer #help,
#footer #account {
    display: inline-block;
    width: 30%;
    height: inherit;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
}

#footer .head {
    border-bottom: 2px solid black;
    padding: 0;
    width: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding-bottom: 10px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}

#footer a { text-decoration: none; color: whitesmoke; }
#footer a:visited { text-decoration: none; }
#footer a:hover { text-decoration: none; }
#footer a:focus { text-decoration: none; }
#footer a:hover, a:active { text-decoration: none; }