#topMenu {

    width: 99vw;
    position: relative;
    margin-left: -8px;
    height: 50px;
    margin-top: -8px;
    background: green;
    background: linear-gradient(to bottom, green,rgba(0, 255, 0, 0));
}

#siteName {

    position: absolute;
    margin-top: -42px;
    left:12.5%;
}

#siteNameText {

    font-family: 'Permanent Marker', cursive;
    font-size: 2.2em;
    color: white;
    text-shadow: 3px 3px black;
}

#navMenu {

    right: 5%;
    position: absolute;
}

#navMenu button {

    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px black;
    background: linear-gradient(to bottom, green,rgba(0, 255, 0, 0));
    border-width: 0px;
    border-style: solid;
    border-top-width: 4px;
    border-color: limegreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:relative;
}

.main {

    height: 100vw;
    width: 60%;
    overflow-x: hidden;
    background:   rgb(233, 235, 238) ;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom: auto;;
    position:relative;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    
}
.mainInf{
    
    min-height:94vw;
    width: 75%;
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
    background:   rgb(233, 235, 238) ;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);

}
body {
    
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#topsTd {

    padding-left: 2%;
    padding-right: 2%;
}
#tops {

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}
#font{
    
    box-shadow: 1px 1px rgba(0,0,0,1);
    background-color: #565e3623;
    height: 11%;
    width:  90%;
    margin-top: -2em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom: 2em;
}
.fontTextNume{

    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    font-size: 3em;
}
.fontText{

    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    size: 30;
}
.inline{
    display:inline-block;
    height: 30%;
    font-family: 'Libre Franklin', sans-serif;
    
    text-align:top;
    margin-left:auto;
    margin-right:auto;
}
#imagine{
    width: 50%;
    text-align:center;
    height:35em;
    margin-left: auto;
    margin-right:auto;
    
    vertical-align:top;
}
#infDeBaza{
    width: 22em;
    height:11em;
    margin-bottom: 1em;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    background-color: #5a613f0a;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:1em;
    padding-bottom: 1em;;
    font-size:25;
    
}
#alteImagini{
    display: inline-block;
    text-align:center;
    margin-left:auto;
    position: relative;
    margin-right:auto;
    height: 10em;
    
    margin-top:auto;
    margin-bottom: auto;
    vertical-align: top;
}
    
.alt{

    display: inline-block;
    text-align:center;
}
.jos{
   
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;  
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);   
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    width:auto;
}
#alteInf{
    height: 50%;
    background-color: #5a613f0a;
    position: relative;
    font-size:25;
    margin-top:1em;
    margin-bottom:auto;
    text-align:center;
}
#comentarii{
    height:50%;
    background-color: #5a613f0a;
    padding-top:1px;
    padding-bottom: 25px;;
    font-size:25;
}
.co{

    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    padding-top:5px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 5px;;
    width: 100%;
}

#addCom{

    height:5%;
    width: 70%;
    display: inline-block;
    position:relative;
    
}
#text{
   
    padding-left:auto;
    padding-right: auto;
    width: 93.5%;
    height: 100%;
    margin-left:auto;
    margin-right: auto;
    text-align:center
}
.jos1{
    display:inline-block;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;  
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    margin-left: auto;
    margin-top: 1em;
    width:60%;

    position: relative;
}
.buton{
    display: inline-block;
    width: 6.1%;
    height: 100%;
    position: relative;
    
}
.lista{
    padding-top:0.7em;
    padding-left:3em;
    position: relative;
    text-align: left;
    font-size :20;
}
.lista1{
    padding-top:1em;
    padding-left:0.8em;
    text-align: left;
    font-size :17;
}