body {
    background: #D5A235;
}

#body {
    display: block;
    position: relative;
    width:80%;
    min-height: 92vh;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, .75);
}

#navigation {
    display: inline-block;
    vertical-align: top;
    border-left: .2em solid rgb(90,90,90);
    padding-left: .1em;
    width: 20%;
}

#info {
    width: 100%;
    height: 5me;
    background: rgba(100, 100, 100, 0.5);
    text-align: center;
    border: thin solid rgba(0, 0, 0, .5);
}

#navigationb {
    display: block;
}

#navigationb #info {
    width: 20%;
    margin-left:auto;
    margin-right:auto;
    height: 5me;
    background: rgba(100, 100, 100, 0.5);
    text-align: center;
    border: thin solid rgba(0, 0, 0, .5);
}

#user {
    margin: .1em;
    padding: .1em;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    border-bottom: thin solid black;
}

#name {
    font-size: .8em;
    margin: 0em;
}

#navigation button {
    width: 100%;
    height: 5em;
    margin: .5em 0em;
    border: none;
    border-left: .2em solid rgba(0, 0, 0, .85);
    background: #2B2B2B;
    color:white;
    font-size:1.1em;
    transition: .3s all ease;
}

#navigation button:hover {
    border-bottom: .2em solid black;
}

#content {
    display: inline-block;
    vertical-align: top;
    width: 79%;
    min-height: inherit;
    border-left: .1em solid black;
    text-align: center;
    padding-left: .1em;
}
#contentb {
    display: block;
    min-height: 1em;
    border-left: .1em solid rgba(0,0,0,0);
    text-align: center;
    padding-left: .1em;
}

#added {
    position: relative;
    width: 100%;
    min-height: 50vh;
}

.addedproduct {
    text-decoration: none;
}

#added a:link {
    text-decoration: none;
}

.break {
    margin:.8em auto;
    width: 50%;
    border-bottom: .1em solid black;
}

.break p {
    padding: 0em;
    font-size: 1.3em;
    margin: 0em;
}

.product {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: .1em auto;
    width: 30%;
    min-height: 6em;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    background: #2B2B2B;
    text-align: center;
    color: white;
}

.product:hover {
    background: #3B3B3B;
}

.product img {
    position: absolute;
    left: .5em;
    top: .5em;
    margin: .25em .1em;
    display: inline-block;
    height: 4.5em;
    width: auto;
    max-width: 4.5em;
}

.product .title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.6em;
    margin: 0em;
    padding: 0em;
    margin-left:3.4em;
}

.product .description {
    margin: 0em;
    padding: 0em;
    padding-left: 5em;
    color: rgb(201, 201, 201);
}
.profileDiv {
    position: relative;
    width: 100%;
    height: 5em;
    margin: .5em .1em;
    vertical-align: center;
}

.profileDiv label, .profileDiv input {
    position: relative;
    display: inline-block;
    vertical-align: center;
    width: 15%;
    font-size: 1.1em;
}

.profileDiv input {
    width: 20%;
    height: 1.5em;
    border: none;
    border-left: thin solid black;
    background: rgba(100, 100, 100, 0.5);
    margin: 0em 2%;
    transition: .35s all ease;
}

.profileDiv input:focus {
    width: 24%;
    margin: 0%;
}

#password input {
    margin-bottom:3em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
#save{
    color: white;
    background: #2B2B2B;
    width:25%;
    height:3em;
    border: none;
    margin: 4em 0em 1em 0em;
}

#pageSelect {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

#pageSelect input {
    display:inline-block;
    margin:0em .2em;
    padding:.1em .4em .2em .4em;
    border-style: solid;
    border-width:thin;
    border-color: #2B2B2B;
    font-size: 1.2em;
    border-radius: .2em;
    color: black;
}

@media(max-width:920px) {

    #body {
        width: 90%;
    }
    #navigation {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #navigation form {
        width: 45%;
        display: inline-block;
        margin-left: 2.2%;
        margin-right: 2%;
        padding: 0em;
        margin: .2em;
    }

    #navigation button {
        height: 5em;
        padding: 0em;
    }

    #content {
        width: 90%;
        display: block;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .product {
        display: block;
        width: auto;
        min-height: 5em;
        max-height: 15em;
        height: auto;
    }

    .product img {
        display: none;
    }

    .product .title {
        margin: 0em;
    }

    .product .description {
        padding-left: 0em;
    }

    .profileDiv p, .profileDiv input {
        width: 40%;
    }

    .profileDiv input {
        width: 45%;
    }

    .profileDiv input:focus {
        width: 50%;
        margin-left: -1%;
    }
}