* {
    box-sizing: border-box;
}

body {
    /* background: url("signUpBg.jpg"); */
    background-size: cover;
    background-color: #D5A235;
}

#total {
    display: block;
    margin: 0em auto;
    text-align: center;
    width: 96%;
    margin-bottom: 25vh;
}

#sign,
#log {
    display: inline-block;
    margin: 1em;
    width: 48%;
}

#sign {
    padding-left: 4vw;
}

#sign #logBox {
    padding-top: 3vw;
    padding-bottom: 1vw;
    border-radius: 25px;
    margin-top: 5vh;
    background: rgba(167, 166, 166, 0.8);
    font-size: 1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
    min-width: 400px;
}

#sign input[type=text],
#sign input[type=email],
#sign input[type=password],
#sign input[type=number] {
    height: 2vw;
    width: 82%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Lucida Sans';
    font-size: 1.2vw;
    opacity: 1;
    outline: none;
}

#sign input[name=fsname] {
    width: 41%;
}

#sign input[type=submit] {
    width: 30%;
    height: 3vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    border-color: brown;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#sign #logBox input:focus {
    border-radius: 25px;
    outline: none;
}

.leftText {
    font-family: 'Courier New', Courier, monospace;
    float: left;
    width: 25%;
    margin-top: 6px;
    font-weight: bold;
}

.rightText {
    float: left;
    width: 75%;
    margin-top: 6px;
}

label {
    display:inline-block;
    padding: 12px 12px 12px 0;
    font-size: 1.3vw;
}

#sign input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block; 
    vertical-align:middle;
    margin-left:20px;
}

.main:after {
    content: "";
    display: table;
    clear: both;
    opacity: 1;
}

h1 {
    text-align: center;
    margin-top: 4vw;
    font-size: 6vh;
    letter-spacing: .1vw;
    color: white;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}

#sign input[type=number]::-webkit-inner-spin-button, 
#sign input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

#main {
    margin-top: 5vw;
}

#title {
    border-radius: 50px 50px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(32, 31, 31, 0.562);
    width: 20vw;
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif    ;
}

#title h2 {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-shadow: 1px 1px 1px 1px black;
    font-size: 5vh;
    padding-top: .5em;
    padding-bottom: .5em;
} 

#log #logBox {
    padding-top: 1vw;
    border-radius: 0px 0px 50px 50px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20vw;
    text-align: center;
    padding-bottom: 3em;
    font-size: 1vw;
}

#log input {
    height: 1vw;
    width: 7vw;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: white;
    border-right: white;
    border-radius: 2.9px;
    outline: none;
}

#log input[type=submit] {
    width: 40%;
    height: 3vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D5A235;
    border-color: #D5A235;
    border-radius: 4px;
}

#log input:focus {
    height: 1.2vw;
    width: 8vw;
    border-radius: 25px;
    outline: none;
}

#name {
    color: black;
}

#log ::-webkit-input-placeholder {
    color: rgba(99, 93, 93, 0.562);
    padding-left: 10%;
}

#log h3{
    font-family: 'Courier New', Courier, monospace;
}

#logHeader {
    font-size: 20px;
}

@media(max-width:920px) {
    #sign h1 {
        text-align: center;
        margin-top: 4vw;
        font-size: 30px;
        letter-spacing: .1vw;
        color: white;
        text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
    }

    #sign,
    #log {
        display: block;
        margin: 1em;
        width: 96%;
    }

    #sign #logBox {
        padding-top: 3vw;
        padding-bottom: 1vw;
        border-radius: 25px;
        margin-top: 5vh;
        background: rgba(167, 166, 166, 0.8);
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 20px;
        min-width: 300px;
    }

    label {
        display:inline-block;
        padding: 12px 12px 12px 0;
        font-size: 13px;
    }

    #sign input[name=fsname] {
        width: 33%;
    }

    #sign input[type=text],
    #sign input[type=email],
    #sign input[type=password],
    #sign input[type=number] {
    height: 2vw;
    width: 82%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Lucida Sans';
    font-size: 10px;
    opacity: 1;
    outline: none;
    }

    #title {
        border-radius: 50px 50px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        background: rgba(32, 31, 31, 0.562);
        width: 300px;
        display: block;
        text-align: center;
        font-family: 'Times New Roman', Times, serif    ;
    }

    #log #logBox {
        padding-top: 1vw;
        border-radius: 0px 0px 50px 50px;
        background: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 300px;
        text-align: center;
        padding-bottom: 3em;
        font-size: 12px;
    }

    #log input {
        height: 12px;
        width: 50%;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-top: white;
        border-right: white;
        border-radius: 2.9px;
        outline: none;
    }

    #log input:focus {
        height: 12px;
        width: 50%;
        border-radius: 25px;
        outline: none;
    }

}