body {
    background-size: cover;
}

#logBox {
    padding-top: 3vw;
    padding-bottom: 1vw;
    border-radius: 25px;
    margin-top: 5vh;
    background: rgba(167, 166, 166, 0.8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    font-size: 1vw;
    height: 30vw;
    width: 35vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logBox input {
    height: 2vw;
    width: 10vw;
    font-family: 'Lucida Sans';
    font-size: 1.2vw;
    opacity: 1;
    outline: none;
}

#logBox input:focus {
    height: 2.1vw;
    width: 10.5vw;
    border-radius: 25px;
    font-size: 1.5vw;
    outline: none;
}

.leftText {
    padding-left: 2px;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.rightText {
    padding-right: 2px;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.centerText {
    padding-right: 2px;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
}

label {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    font-size: 1.5vw;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block; 
    vertical-align:middle;
    margin-left:20px
}

.main {
    padding-left: 40px;
    display: flex;
    opacity: 1;
}

h1 {
    text-align: center;
    margin-top: 4vw;
    font-size: 6vh;
    letter-spacing: .1vw;
    color: white;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}